*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-image: url(sky.jpg);
    border: 15px solid white;
    border-left: 10px solid sandybrown;
    border-right: 10px solid green;
    background-size: cover;
    position: relative;
}
.head{
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}
.head1{
    background-color: orange;

}
.head2{
    background-color: white;

}
.head3{
    background-color: green;

}
.city{
    background-image: url(city.png);
    height: 250px;
    width: 100vw;
    position: absolute;
    top: 41%;
    animation: move 3s infinite linear;
}
.road{
    background-image: url(road.jpg);
    height: 200px;
    width: 100vw;
    position: absolute;
    top: 75%;
    animation: move 3s infinite linear;
}
.car{
    position: relative;
    width: 200px;
    z-index: 2;
    top: 53%;
    left: 30%; 
}
.car1{
    /* position: absolute;
    width: 400px;
    top: 55%;
    left: 30%; */
    width: 400px;
}
.wheel2{
    width: 70px;
    position: absolute;
    top: 40%;
    left: 15%;
    animation: rotate 1s infinite linear;

}
.wheel1{
    width: 70px;
    position: absolute;
    top: 40%;
    left: 137%;
    animation: rotate 1s infinite linear;
}
.sun{
    height: 120px;
    width: 120px;
    position: absolute;
    right: 5%;
    opacity: 0.7;
    /* animation: satish 3s infinite alternate; */
    animation: sun 20s infinite linear;
}
.flag{
    position: absolute;
    width: 80px;
    height: 80px;
    top: -18%;
    left: 150%;
}
@keyframes rotate {
    from{
        transform: rotate(180deg);
        
    }
    to{
        transform: rotate(360deg);
    }
    
}
@keyframes move {
    0% {
        background-position: 0;

    }
    100% {
        background-position: -1200px;
    }
}
@keyframes satish {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100px);
    }
}
@keyframes sun {
     from {
        transform: translateX(0px);

    }
    to {
        transform: translateX(-200px);
    }
}