*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: yellow;
    /* width: 100%;
    height: 100vh; */
    text-align: center;
    

}
.container{
    max-width: 600px;
    /* position: absolute; */
    height: 100vh;
    margin: 20px auto;
}
.container-box{
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
 width: 150px;
 height: 150px;
 background-color: lightgreen;
 transition-duration: 4s;
 
}
.a:hover{
    width: 300px;
    cursor: pointer;

}
.b:hover{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.c:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: linear;
}
.c1:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: ease;
}
.c2:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: ease-in;
}
.c3:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: ease-out;
}
.c4:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}
.link{
    font-size: 32px;
    text-align: center;
    color: brown;
    margin-right: 450px;
}